/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
  text-align: center;
  background-color: #f7fbfc;
  font-family: "Merriweather", serif;
}

/******************************************
/* LAYOUT
/*******************************************/

header {
  width: 100%;
  position: fixed;
  background-color: red;
  padding: 1.5rem 0 1.5rem 0;
  top: 0;
}

footer {
  background-color: #769fcd;
  padding: 40px;
}

/******************************************
/* NAVIGATION
/*******************************************/

li {
  display: inline;
  padding: 20px;
}

.page-nav {
  text-align: right;
  margin: 30px 200px 0 0;
}

/******************************************
/* IMAGES
/*******************************************/

.header-img {
  width: 80px;
  float: left;
  margin-left: 120px;
}

.top-img {
  position: relative;
  bottom: 55px;
}

.top-img-wind,
.bottom-img-wind {
  width: 150px;
}

.top-img-wind {
  transform: rotate(180deg);
  position: absolute;
  left: 250px;
  bottom: 200px;
}

.bottom-img-wind {
  position: absolute;
  right: 300px;
  top: 200px;
}

.design-pic {
  width: 250px;
  margin: 0 30px 80px 350px;
  float: left;
}

.coding-pic {
  width: 250px;
  margin: 0 350px 0 20px;
  float: right;
}

/******************************************
/* SECTIONS
/*******************************************/

.opening-container {
  background-color: #769fcd;
  height: 750px;
}

.top-container {
  margin: 50px 0 70px 0;
  /* height: 400px; */
}

.middle-container {
  margin: 70px 0 70px 0;
}

.design-skill {
  text-align: left;
}

.coding-skill {
  margin-top: 20px;
  clear: both;
  overflow: auto;
}

.bottom-container {
  margin: 70px 0 70px 0;
}

/******************************************
/* HEADINGS
/*******************************************/

h1 {
  padding-top: 180px;
  margin-bottom: 0px;
  color: #f7fbfc;
  font-size: 5rem;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #5f97d6;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: #b9d7ea;
  font-size: 2rem;
  margin: 10px 0 20px 0;
  font-family: "Montserrat", sans-serif;
}

.profession {
  color: #f7fbfc;
  font-size: 2rem;
}

.heading-skills {
  margin-bottom: 10px;
  padding-top: 30px;
}

/******************************************
/* HORIZONTAL LINE 
/*******************************************/

.graphical-dots {
  width: 5%;
  border: 0;
  border-top: 10px dotted rgba(118, 159, 205, 0.2);
  margin: 0 auto 0 auto;
  clear: both;
}

/******************************************
/* PARAGRAPHS 
/*******************************************/

p {
  color: #3f648d;
}

.skill-desc {
  font-size: 1.2rem;
  width: 51.5%;
  margin: 0 auto 0 auto;
  padding: 0;
}

.top-desc {
  width: 40%;
  margin: 0 auto 0 auto;
  font-size: 1.4rem;
}

.copy-right {
  font-size: 0.8rem;
  color: #f7fbfc;
  padding-top: 20px;
}

.asking-users-desc {
  font-size: 1.3rem;
  width: 40%;
  margin: 0 auto 50px auto;
}
/******************************************
/* ANCHORS
/*******************************************/

a {
  text-decoration: none;
  color: #f7fbfc;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  text-decoration: underline;
}

.btn {
  background: #3f648d;
  background-image: -webkit-linear-gradient(top, #3f648d, #769fcd);
  background-image: -moz-linear-gradient(top, #3f648d, #769fcd);
  background-image: -ms-linear-gradient(top, #3f648d, #769fcd);
  background-image: -o-linear-gradient(top, #3f648d, #769fcd);
  background-image: linear-gradient(to bottom, #3f648d, #769fcd);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #769fcd, #3f648d);
  background-image: -moz-linear-gradient(top, #769fcd, #3f648d);
  background-image: -ms-linear-gradient(top, #769fcd, #3f648d);
  background-image: -o-linear-gradient(top, #769fcd, #3f648d);
  background-image: linear-gradient(to bottom, #769fcd, #3f648d);
  text-decoration: none;
}
